#Update these values and copy this file to .env in the root of the project
#Don't checkin .env file

SP_APPID=aaaaaaaa-bbb-ccc-ddd-eeeeeeeeeeee
SP_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SP_TENANT=aaaaaaaa-bbb-ccc-ddd-eeeeeeeeeeee
