#Update these values and copy this file to .env in the root of the project
#Don't checkin .env file


#Your Azure Application Insights instrumentation key no spaces or quotes ex:
#AzureInstrumentationkey=aaaaaaaa-bbb-ccc-ddd-eeeeeeeeeeee

AzureInstrumentationKey=<INSTRUMENTATION-KEY>